.publishing_title{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

main{
    padding: 0 316px;
    gap: 20px;
    flex-wrap: wrap;
}
.publishing_sc{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.publishing_sc>article{
    width: calc((100% - 40px) /3); 
}
.publishing_middle_sc{
    padding-left: 20px;
    padding-right: 20px;
}
.art_img_sc{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 6px; /* 사진에서 올라오도록 마진 */    
    font-size: 0;
}
.art_img_sc img{
    width: 100%;
}

.overlay_sc{
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: rgba(225,225,225,0.7);
    text-align: center;
    transition: bottom 0.2s ease;
}
.view_button_sc{
    color: #000;
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}
.text_box_sc{
    background-color: #FFFFFF;
}
.text_box_sc p{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 14px;
}
.buy_sc_wrap{
    display: flex;
    justify-content: flex-end;
}
.buy_sc{
    background-color: #3B4350;
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 8px 38px;
    margin: 0 10px 8px 0;
}

@media (max-width: 1024px) {
    main{
        padding: 0 10px;
        gap: 20px;
        flex-wrap: wrap;
    }
    .publishing_sc{
        padding-bottom: 50px;
    }
    .publishing_sc>article{
        width: calc((100% - 40px) /2); 
    }
}

@media (max-width: 720px) {
    main{
        padding: 0 50px;
        flex-wrap: wrap;
    }
    .publishing_sc>article{
        width: calc(100%); 
        padding-bottom: 50px;
    }
    .publishing_sc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0;
    }
    .art_img_sc{
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: 6px; /* 사진에서 올라오도록 마진 */    
        font-size: 0;
        
    }
    .publishing_middle_sc{
        padding-left: 0;
        padding-right: 0;
    }
    .art_img_sc img{
        width: 100%;
    }


}